.controls-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0;
}

.done-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

.nutrient {
  background-color: white;
  border-radius: 8px;
  border: thin solid green;
  padding: 0.5rem;
  outline: none;
}

.sort {
  background-color: white;
  border-radius: 8px;
  border: thin solid blue;
  padding: 0.5rem;
  outline: none;
}

.add-btn {
  border-radius: 5px;
  background-color: #023047;
  border: none;
  width: 6rem;
  color: white;
  cursor: pointer;
}

.add-btn:active {
  opacity: 0.5;
}

.done-btn {
  width: 60%;
  height: 1.8rem;
  background-color: #40916c;
  color: white;
  border: thin solid #40916c;
  cursor: pointer;
}

.done-btn:active {
  opacity: 0.5;
}

.title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .title {
    margin-top: 5rem;
  }

  .done-btn {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .done-btn {
    width: 28%;
  }

  .controls-container {
    gap: 5rem;
    justify-content: center;
  }
}

